<HTML>
    <TITLE>Wordfun game play.</TITLE>
    <BODY>
        <BR>
        {{htmlHeader0|safe}}
        ---<BR>
        {{htmlContentList0|safe}}
        ---<BR>
        <FONT SIZE="4">
        {{htmlCount|safe}}
        {{htmlCategory|safe}}
        <FORM action="{{htmlPOSTURL|safe}}" method="post">
            Word guess:  <input type="text" name="wordguess" value=""/>
            <input type="submit" value="Send"/>
        </FORM></FONT>
        ---<BR>
        {{htmlFooter0|safe}}
    </BODY>
</HTML>
